<h1> Terms of Use</h1>

<p>1. Read the following terms and conditions carefully before using this site. By using or accessing this site, you acknowledge that you have read these terms of use (&quot;agreement&quot;), and that you accept and will be legally bound by the agreement.</p>

<p>2 The contents of this site are Copyright 2013 Stakeholde.rs SIA. All Rights Reserved. &quot;Stakeholde.rs &quot;Powered by Stakeholde.rs&quot;, and the Stakehole.rs logo, are trademarks and/or service marks of Stakeholde.rs SIA. Unless otherwise noted on the Site, all other trademarks, service marks, and logos used in this Site are the trademarks, service marks or logos of their respective owners.</p>

<p>3. Subject to the terms and conditions of this Agreement, and until termination of the Agreement, Stakeholde.rs grants you a non-exclusive, non-transferable, limited license to view or print the Content in this Site without alterations, for personal, non-commercial use only. This limited license does not apply to any media or platform other than that of the current Site.</p>

<p>4. All Content on the Site is (and shall continue to be) owned exclusively by Stakeholde.rs or others, and is protected under applicable copyrights, patents, trademarks, trade dress, and/or other proprietary rights, and the copying, redistribution, use or publication by you of any such Content or any part of the Site is prohibited. Under no circumstances will you acquire any ownership rights or other interest in any Content by or through your Site Use.</p>

<p>5. Concerning your Site Use or any Content, you agree not to knowingly: (i) use any device, software or technique to interfere with or attempt to interfere with the proper working of the Site; (ii) post or transmit to the Site any unlawful, fraudulent, harassing, libelous, or obscene Information of any kind; (iii) post or send to the Site any Information that contains a virus, bug, or other harmful item; (iv) publish, perform, distribute, prepare derivative works, copy, reverse engineer, or use the Content (other than as expressly permitted herein); (v) post or transmit into or on the Site any Information in violation of another party's copyright or intellectual property rights; (vi) take any action which imposes an unreasonable or disproportionately large load on Stakeholde.rs's infrastructure; (vii) redeliver any of the Content using &quot;framing&quot;, hyperlinks, or other technology without Stakeholde.rs's express written permission; (viii) use any device or technology to provide repeated automated attempts to access password-protected portions of the Site; (ix) transmit or post any Content which discloses private or personal matters concerning any person; (x) interfere, in any way, with Others using this Site; (xi) transmit or post charity requests, petitions for signatures, chain letters or letters relating to pyramid schemes; or (xii) transmit or post off topic Content.</p>

<p>6. You acknowledge that Stakeholde.rs has the right, but not the obligation, to monitor the Site and to disclose any Information necessary to operate the Site, to protect Stakeholde.rs, Others, and Stakeholde.rs&#96; customers, and to comply with legal obligations or governmental requests. Stakeholde.rs reserves the right to refuse to post or to remove any Information on the Site, in whole or in part, for any reason.</p>

<p>7. You agree to comply with all governmental laws, statutes, ordinances, and regulations (including unfair competition, anti-discrimination or false advertising) regarding your Site Use.</p>

<p>8. If you are allowed access to password-protected areas of the Site, you agree to keep your password confidential and to send Notice to Stakeholde.rs within 24 hours if your password is compromised. You acknowledge that Stakeholde.rs neither endorses nor is affiliated with any Linked-Site and is not responsible for any information that appears on the Linked-Site. You acknowledge that (i) the Internet is a network of computers worldwide, and that any Information submitted by you to Stakeholde.rs necessarily is routed via third party computers to Stakeholde.rs, (ii) Stakeholde.rs is not responsible for lapses in on-line security and does not assume liability for improper use of your Information by a third party.</p>

<p>9. If you submit Information to the Site, you grant Stakeholde.rs a non-exclusive, worldwide, royalty-free license (in any media now known or not currently known or invented) to link to, utilize, use, and prepare derivative works of the submitted Information. No Information you submit shall be deemed confidential. However, Stakeholde.rs agrees to use your Information in accordance with Stakeholde.rs's Privacy Policy applicable to personally identifiable user data. When you post Information to the Site, you warrant that you have the necessary rights to post this Information and grant other the right to use this Information under applicable copyright, patent, trademark and trade secret laws. You agree to indemnify, defend and hold Stakeholde.rs and Others harmless from and against any claim that you did not have these rights. NOTWITHSTANDING THE FOREGOING, YOU RETAIN OWNERSHIP OF ANY COPYRIGHTS OR OTHER INTELLECTUAL PROPERTY RIGHTS APPLICABLE TO ANY INFORMATION YOU SUBMIT TO STAKEHOLDE.RS.</p>

<p>10. Stakeholde.rs reserves the right to limit the provision of any product or service to any person, geographic area or jurisdiction as it so desires, or as required by law. Stakeholde.rs in its sole discretion may add, delete or change the Content at any time, without notice to you.</p>

<p>11. STAKEHOLDE.RS AND ALL CONTENT PROVIDERS MAKE NO REPRESENTATION ABOUT THE SUITABILITY OF THE CONTENT ON THIS SITE. THIS SITE, INCLUDING ANY ACTIVITIES, SERVICES AND PRODUCTS OFFERED THROUGH THIS SITE), AND ACCESS TO ANY LINKED-SITE, IS PROVIDED TO YOU BY ALL CONTENT PROVIDERS &quot;AS IS&quot; AND &quot;AS AVAILABLE&quot;, WITH NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OFMERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AVAILABILITY OF THE APPLICATION, RELIABILITY, ACCURACY, TITLE AND NON-INFRINGEMENT. YOU HEREBY DISCLAIM ALL WARRANTIES BY STAKEHOLDE.RS RELATING TO YOUR SITE USE. YOU ACKNOWLEDGE THAT YOUR ACCESS TO THE SITE WILL NOT BE FREE OF INTERRUPTIONS, THAT THE INFORMATION HEREIN MAY CONTAIN BUGS, ERRORS, TECHNICAL INACCURACIES, PROBLEMS OR OTHER LIMITATIONS, AND THAT THE SITE MAY BE UNAVAILABLE FROM TIME TO TIME. YOU ASSUME TOTAL RESPONSIBILITY AND RISK FOR YOUR SITE USE AND SITE-RELATED SERVICES.</p>

<p>12. UNDER NO CIRCUMSTANCES WILL STAKEHOLDE.RS OR ANY OF THE CONTENT PROVIDERS BE LIABLE OR RESPONSIBLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL (INCLUDING DAMAGES FROM LOSS OF BUSINESS, LOST PROFITS, LITIGATION, OR THE LIKE), SPECIAL, EXEMPLARY, PUNITIVE OR OTHER DAMAGES, UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN ANY WAY RELATING TO THE SITE (OR ANY ACTIVITIES, SERVICES OR PRODUCTS OFFERED THROUGH THIS SITE), YOUR SITE USE, OR THE CONTENT, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOUR SOLE REMEDY FOR DISSATISFACTION WITH THE SITE AND/OR CONTENT IS TO CEASE ALL OF YOUR SITE USE.</p>

<p>13. You may have additional rights under certain laws (including consumer laws) which do not allow the exclusion of implied warranties, or the exclusion or limitation of certain damages. If these laws apply to you, the exclusions or limitations in this Agreement that directly conflict with such laws may not apply to you.</p>

<p>14. We're always interested in your opinions and feedback. We hope you'll contact us at info@Stakeholde.rs if you have any questions or ideas about our company or these Terms and Conditions of Use.</p>

<p>15. The language in this Agreement shall be interpreted as to its fair meaning and not strictly for or against any party.</p>

<p>16. You acknowledge that any breach by you of the provisions of the Agreement will cause irreparable damage to Stakeholde.rs or Others and that a remedy at law will be inadequate. Therefore, in addition to any and all other legal or equitable remedies, Stakeholde.rs and Others will be entitled to injunctive relief for any breach of this Agreement.</p>

<p>17. In the event that any of the provisions of this Agreement shall be held by a court or other tribunal of competent jurisdiction to be unenforceable, such provisions shall be limited or eliminated to the minimum extent necessary so that this Agreement shall otherwise remain in full force and effect and enforceable.</p>

<p>18. This Agreement constitutes the entire agreement between you and Stakeholde.rs pertaining to the subject matter here of. You agree to review this Agreement prior to any Site Use, and each Site Use by you shall constitute and be deemed your unconditional acceptance of this Agreement. This Agreement may be modified from time to time by Stakeholde.rs, by posting a revised Agreement on the Site.</p>

<p>19. The Agreement may be terminated by either Party, in its sole and absolute discretion, at any time and for any reason with or without notice. If the Agreement is terminated, you agree to cease all Site Use and, upon request by Stakeholde.rs, to return all Information in your possession relating to the Site, and all copies thereof.</p>

<p>20 Any and all provisions or obligations contained in this Agreement which by their nature or effect are required or intended to be observed, kept or performed after termination of this Agreement will survive the termination of this Agreement and remain binding upon and for the benefit of the parties, their successors and permitted assignees.</p>

<p>21. No delay or omission to exercise any right or remedy accruing to Stakeholde.rs upon any breach or default by you shall constitute a waiver by Stakeholde.rs of any breach or default.</p>

<p>22. All article or section headings, or exhibit names, are for reference and convenience only and shall not be considered in the interpretation of the Agreement.</p>

<p>23. You and Stakeholde.rs are independent contractors, and no agency, partnership, joint venture, employee-employer or franchiser-franchisee relationship is intended or created by this Agreement.</p>

<p>24. If this Agreement conflicts with a provision of any other contract between you and Stakeholde.rs relating to the Site, the provision in such other Agreement shall govern.</p>

<p>25 The following terms, when used in this Agreement, shall have the following meanings.</p>

<p>25.1 Content - all information, data, or other material, in any form or media, contained in, obtained from, or relating to the Site, including all results obtained from the Site.</p>

<p>25.2 Content Providers - both Stakeholde.rs and Others.</p>

<p>25.3 Information - Includes all data, information, documents, files, personally-identifying information, and software disclosed by one party to the other in connection with the Site or your Site Use.</p>

<p>25.4 Linked-Site - any Internet site (including all information, data, and content thereon) that is linked to the Site, but not owned by Stakeholde.rs.</p>

<p>25.5 Notice - Refers to the sending of Information by you to Stakeholde.rs via certified mail, return receipt requested, to Stakeholde.rs at the address noted in the section above entitled &quot;Contacting Stakeholde.rs&quot;.</p>

<p>25.6 Others - Stakeholde.rs's direct or indirect licensors, Stakeholde.rs's affiliates, or other contributors to the Site.</p>

<p>25.7 Privacy Policy - Stakeholde.rs's official published privacy policy, if any, describing Stakeholde.rs's intended uses of your personally identifiable Information.</p>

<p>25.8 Site - Any Stakeholde.rs Internet site, page (and all sub-pages), uniform resource locator (&quot;URL&quot;), domain location, and all Information and Content thereon.</p>

<p>25.9 Site Use - your use of or access to the Site.</p>

<p>25.10 Stakeholde.rs SIA's Privacy Policy - Stakeholde.rs SIA is committed to protecting the privacy of its Users. Stakeholde.rs SIA has created this privacy policy to tell you what information we gather, how we use it, and how to change it.</p>

<p>26. If you are a User of our service, we will collect certain information about you and your use of the Site. We need this information so that we may appropriately define your role with the site, your level of access to information and to facilitate your communication and collaboration with other users.</p>

<p>27. We use cookies to identify you once you have logged into our service as a User and to customize your visit. The use of cookies helps us to determine what information you are allowed to view and is used to ensure that you have the best experience possible at our site. If you would like to disallow the use of cookies, please change your browser preferences as outlined in your browser help section. Please understand though, that if you change your browser preferences, you will not be able to fully utilize the site.</p>

<p>28. Cookies are small pieces of information that are stored by your browser on your computer's hard drive. A cookie cannot read data off your hard disk or read cookies created by other sites. Stakeholde.rs also uses cookies to collect aggregated, broad information about Users' traffic patterns and related site usage information, and may disclose it to reputable third parties such as our merchants and strategic partners. In addition, Stakeholde.rs may collect, capture and analyze information related to your usage of the site, may use such information for internal purposes, and on an aggregated basis may disclose, publish or sell that information to third parties on an aggregated or anonymous basis. This data will not include personally identifying information. Our purpose in collecting this information is to provide Users with the best possible product selection and service.</p>

<p>29. Stakeholde.rs will disclose your personally identifiable information only (1) with your permission, (2) when we believe in good faith that any applicable law, regulation, or legal process requires it, or (3) when we believe disclosure is necessary to protect or enforce our rights or the rights of another User or client.</p>

<p>30. For your use, we may link to other sites that provide relevant content and services. Stakeholde.rs is not responsible for the privacy practices, security, or the content of other Web sites, nor does it endorse the content or suitability of sites it links to. We may occasionally send e-mails to Users to notify them of scheduled maintenance or other down periods, changes to our Terms and Conditions of Use, changes to this privacy policy, as well as other important messages.</p>

<p>31.This site has security procedures in place to prevent the loss, misuse, or alteration of data. All Stakeholde.rs SIA employees are briefed on measures to protect customer data, and access to customer data is limited physically and through electronic systems. Stakeholde.rs has also taken a variety of steps to protect its systems, and encrypts the transmission of User registrations and account information.</p>

<p>32. By accessing our Web site, you consent to the collection and use of this information by Stakeholde.rs. We reserve the right to change this policy at any time. If we change our privacy policy, we will post those changes on this page so that you are always aware of what information we collect and how we use it, and we will e-mail notices of changes to User -related data policies to our Users. </p>